bertopic == 0.15.0
pandas == 1.4.4
geopandas == 0.13.2
matplotlib == 3.7.2
seaborn == 0.12.2
statsmodels == 0.14.0
NewsSentiment == 1.1.25
nltk==3.8.1
numpy>=1.23.1
scipy>=1.9.0
dash == 2.7.0
plotly == 5.11.0

